{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% block content %}


<div class="container">
    <div class="row ">
        <div class="col-md-3 mt-3 mx-auto px-0">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="static/css/PD_1.png" alt="Card image" style="width:100%; height: 300px;">
                <div class="card-body">
                    <h3 class="card-title">Parkinson's Disease</h3>
                    <p class="card-text">Parkinson’s disease is a brain disorder that causes unintended or
                        uncontrollable movements, such as shaking, stiffness,
                        and difficulty with balance and coordination.
                        Symptoms usually begin gradually and worsen over time. As the disease progresses, people may
                        have difficulty walking and
                        talking. </p>
                    <a href="https://www.nia.nih.gov/health/parkinsons-disease " target="_blank"
                        class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-3 mt-3 mx-auto px-0">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="static/css/PD_2.jpg" alt="Card image" style="width:100%; height:300px">
                <div class="card-body">
                    <h3 class="card-title">Symptoms</h3>
                    <p class="card-text">
                    <ul class="ml-5">
                        <li>Tremor </li>
                        <li>Slowed movement (bradykinesia)</li>
                        <li>Rigid muscles</li>
                        <li>Impaired posture and balance</li>
                        <li>Loss of automatic movements</li>
                        <li>Speech changes</li>
                        <li>Writing changes</li>
                    </ul>
                    </p>
                    <a href="https://www.mayoclinic.org/diseases-conditions/parkinsons-disease/symptoms-causes/syc-20376055"
                        target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 mt-3 mx-auto px-0">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="static/css/PD_4.png" alt="Card image" style="width:100%; height: 300px;">
                <div class="card-body">
                    <h4 class="card-title">Scientific Cause</h4>
                    <p class="card-text">Parkinson's disease is caused by a loss of nerve cells in the part of the brain
                        called the substantia nigra.

                        Nerve cells in this part of the brain are responsible for producing a chemical called dopamine.

                        Dopamine acts as a messenger between the parts of the brain and nervous system that help control
                        and co-ordinate body
                        movements.


                    </p>
                    <a href="https://www.nhs.uk/conditions/parkinsons-disease/causes/" target="_blank"
                        class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-3 mt-3 mx-auto px-0">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="static/css/PD_5.jpg" alt="Card image" style="width:100%; height:300px">
                <div class="card-body">
                    <h4 class="card-title">Coping Up</h4>
                    <p class="card-text">Parkinson’s disease affects everyone differently. Whatever your case gives you,
                        there are habits you can work into your
                        daily routine to help you deal with your symptoms and live life more fully.</p>
                    <a href="https://www.webmd.com/parkinsons-disease/guide/living-with-parkinsons-disease-tips"
                        target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}