{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST" class="mt-5 login text-light">
    <h3 align="center">Login</h3>
    <div>
        <label for="email">Email Address</label>
        <input type="text" placeholder="Email" required name="email" value={{request.form.email}}>
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" required name="password" value={{request.form.password}} required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
</form>
{% endblock %}