{% extends "base.html" %}

{% block title %}Predict Using Voice{% endblock %}

{% block content %}

<h1 class="text-light text-center my-5">
    Predict Using Voice <br />
</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="POST" id="home_pred" class="mt-5 w-75 text-light text-center mx-auto">
                <h3> Upload Voice Input</h3>
                <br />
                <div class="form-group">
                    <input type="text" class="form-control" id="voice_input" name="voice_input">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-large btn-block" name="voice_submit"
                        id="voice_submit" value="Predict Using Voice">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="form-group">
    <center><img class="img img-thumbnail" alt="No Image" src="{{path}}" onerror="this.style.display = 'none'">
    </center>
</div>
{% endblock %}